.title{
    text-align: center;
}
.wrapper{
    display: flex;
}
.btn__wrapper{
    margin: 0 10px 0 20px;
}
.record{
    margin: 7px 0;
}
.main__btn{
    margin-right: 10px;
    padding: 10px;
}
#player{
    margin: 40px 50px;
}
.sound{
    margin-bottom: 35px;
}
.filtered__sound{
    margin-bottom: 10px;
}
.filtered__message{  
    margin-bottom: 10px;
}